*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
.contanier{
    width: 100%;
    height: 100vh;
    background-color:  #f1dac4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contanier::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: #a69cac;
}
.contanier .header{
    position: relative;
    z-index: 10;
    height: 85vh;
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 3px solid #a69cac;
    border-radius: 20px;
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
    padding: 0 40px 0 80px;
}

.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
}

.header nav .logo{
    color: #29274C;
    font-size: 40px;
    font-weight: bold;
}

.header nav .logo span{
    color: #802B5B;
}

.header nav .nav-links a {
    color: #29274C;
    font-weight: bold;
    margin-left: 40px;
    text-transform: capitalize;
    transition: 0.3s;
}
.header nav .nav-links a:hover{
    color:  #802B5B;
}
.header .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}
.header .content .div-text{
    width: 40%;
}
.header .content .div-text h1{
    margin-bottom: 3px;
    font-size: 28px;
    color: #29274C;
}
.header.content .div-text h1 span{
    color:  #802B5B;
}
.header .content .div-text h2{
    color: #802B5B;
    font-size: 18px;
    margin-bottom: 10px;
}
.header .content .div-text p{
    color: #29274C;
    margin-bottom: 18px;
    font-size: 13px;
}
.header .content .div-text .btn{
    padding: 8px 8px;
    background-color: #ba6194;
    border: 2px solid #802B5B;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}
.header .content .div-text .btn:hover{
    color: #802B5B;
    transition: 0.3s;
    background-color: transparent;
}
.soc-link{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}
.soc-link a i{
    font-size: 25px;
    cursor: pointer;
    color: #29274C;
    margin-bottom: 20px;
    transition: 0.4s;
}
.soc-link a i:hover{
    color: #802B5B;
}
.header .content .div-img{
    width: 40%;
}
.header .content .div-img img{
    width: 100%;
}
/* animation */

.header .logo,
.header .content .div-text h1,
.header.content .div-text h2,
.header .content .div-text .btn{
    position: relative;
    top: 50px;
    animation: slide-top .5s linear forwards;
    opacity: 0;
}
.header .logo{
    animation-delay: 0.2s;
}
.header .content .div-text h1{
    animation-delay: 0.5s;
}
.header .content .div-text h2{
    animation-delay: 0.9s;
}
.header .content .div-text .btn{
    animation-delay: 1.8s;
}
@keyframes slide-top{
    0%{
        top: 50px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}

.header .content .div-text p{
    position: relative;
    left: 100px;
    animation: slide-right .5s linear forwards;
    animation-delay: 1.3s;
    opacity: 0;
}
@keyframes slide-right{
    0%{
        left: 100px;
        opacity: 0;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}

.header .content .div-img img{
    opacity: 0;
    transform: scale(0.8);
    animation: fade-img .5s linear forwards;
    animation-delay: 2.1s;
}
@keyframes fade-img{
    0%{
        opacity: 0;
        transform: scale(0.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}